    .title
    {
      font-size:18px;
      font-family: Helvetica,sans serif;
      font-weight: bold;
      color:#696969;
      letter-spacing:2px;
    }
    .tabs
    {
      padding-right: 5px; 
    }
/*    div#tableSort
    {
      display: block;*/
      /*  max-height: 200px;*/
/*      overflow-x: hidden;
      -ms-overflow-style: 
      -ms-autohiding-scrollbar;
    }*/